CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build
bin
FrontEnd/CMakeFiles
FrontEnd/cmake_install.cmake
FrontEnd/Makefile
MiddleEnd/CMakeFiles
MiddleEnd/cmake_install.cmake
MiddleEnd/Makefile
BackEnd/CMakeFiles
BackEnd/cmake_install.cmake
BackEnd/Makefile

*.tmp
*.vscode
.tmp/
.vscode/

FrontEnd/frontend.elf
MiddleEnd/middleend.elf
BackEnd/backend.elf

Lib/Stacks/*.txt
Lib/Stacks/*.txth

Lib/MyLangConfig/*.o

test.s
test.o
test.elf