CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
./build

./bin
./.tmp
./FrontEnd/CMakeFiles
./FrontEnd/cmake_install.cmake
./FrontEnd/Makefile
./MiddleEnd/CMakeFiles
./MiddleEnd/cmake_install.cmake
./MiddleEnd/Makefile
./BackEnd/CMakeFiles
./BackEnd/cmake_install.cmake
./BackEnd/Makefile

./FrontEnd/log
./MiddleEnd/log
./BackEnd/log

./FrontEnd/frontend.exe
./MiddleEnd/middleend.exe
./BackEnd/backend.exe